<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHooks.Common" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHooks.Custom" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHooks.Custom.Api" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHooks.Receivers" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Custom" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Generic" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
</packages>